*{
    margin:0%;
    padding:0%;
    box-sizing:border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.shape{
    height: 200px;
    width:200px;
    /* background-color: blue; */
    border: 1px solid black;
    /* margin: 10px; */
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#circle{
    /* background-color: aqua; */
    border-radius: 50%;
}
#dimond{
    rotate: 45deg; 
    margin-top:40px;
    height: 141px;
    width: 141px;
    translate: 30px;

}
/* Psudeo selector */
#square:hover{
    background-color: red;
}
#circle:hover{
    background-color: green;
}
#dimond:hover{
    background-color: blue;
}
#dimond h1{
    rotate: -45deg;
}
h1{
    font-weight: normal;
}