*{
    margin: 0%;
    padding:0%;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;

}
#cursor{
    height: 15px;
    width:15px;
    border-radius: 50%;
    background-color: lightblue;
    position: absolute ;

}
.box{
    /* transform: rotate(45deg); */
    /* transform: scale(1.5); */
    /* display: flex;
    justify-content: center;
    align-items: center;  */
    transition: transform 1s ease;
}
.box:hover {
    transform: scale(1.3);
    /* transform: skew(20deg, 10deg); */
    /* transition: property duration timing-function delay; */
}
#sq1{
    transition: transform 1s ease;
}
#sq1:hover {
    transform: scale(0.8);
}
#sq2{
    transition: transform 1s ease;
}
#sq2:hover {
    transform: scale(0.8);
}
#sq3{
    transition: transform 1s ease;
}
#sq3:hover {
    transform: scale(0.8);
}
#sq4{
    transition: transform 1s ease;
}
#sq4:hover {
    transform: scale(0.8);
}

  
.rect{
    display: flex;
}
.shape{
    display: flex;
    justify-content: center;
    align-items: center; 
    
    height: 200px;
    width:200px;
    margin: 10px;
    border:2px solid black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}
/* #sq1{
    transition: transform 1s ease;
} */