*{
    margin:0%;
    padding: 0%;
}
html,body{
    width: 100%;
    height: 100%;
}

h1{
    /* margin: 0%; */
    text-align: center;
    width: 50%;
    height: 50%;
    color: antiquewhite;
    background-color: rgb(10, 113, 203);
}
p{
    color: rgb(80, 80, 111);
    background-color:cornsilk
}