*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
html,body{
    height: 100%;
    width: 100%;
}
p{

    text-align: center;
}
#main{
    height: 100%;
    width: 100%;
    /* background-color: aliceblue;     */
    /* background-color: ; */
}
#header{
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 12%;
    /* justify-content: space-between; */
    justify-content: space-around;
    background-color:  white;

}
#logo{
    height: 70%; 
    /* background-color: antiquewhite; */
    /* margin: 25px; */
}
#logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text{
    /* background-color: antiquewhite; */
    /* margin: 15px; */
    color: rgb(8, 8, 25);
    display: flex;

}
.text:hover{
    color: rgb(217, 217, 246);
}
#contactDetails{
    /* margin-left:40px; */
    font-weight: lighter;
}
.icon{
    /* margin-left:20px ; */
    padding: 10px;
    border-radius: 50%;
}
.icon:hover{
    background-color: rgb(240, 245, 246);
    
}
.login{
    /* margin-left: 20px; */
    padding: 10px;
    border-radius: 50px;
    display: flex;
}
.login:hover{
    background-color: rgb(240, 245, 246);

}
#try{
    /* margin-left: 30px; */
    background-color: rgb(26, 165, 26);
    color: aliceblue;
    padding: 10px 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 50px; */
}
#try:hover{
    background-color: rgb(21, 42, 21);
}

#page1{
    height: 88%;
    width: 100%;
    /* background-color: wheat; */

}
#strip{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 8%;
    background-color: rgb(8, 8, 60);
    color: aliceblue;
}
#strip u{
    margin-left: 20px;
    font-weight: lighter;
}
#content{
    width: 100%;
    height: 76%;
    background-color: white;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
#box1{
    height: 90%;
    width: 47%;
    /* background-color: aliceblue; */
    margin: 10px;
}
#box1 h1{
    font-weight: 600;
    color:  rgb(12, 53, 67);
    font-size: 50px;
    margin: 30px 10px;
}
#box1 p{
    margin: 30px 10px;
    text-align: left;
    font-size: xx-large;
    font-weight: lighter;
}
#btns{
    display: flex;
}
#btns1{
    text-align: center;
    margin: 10px;
    width: 23%;
    padding: 10px 20px;
    background-color:rgb(57, 169, 206);
    color: white;
    border-radius: 5px;

}
#btns1:hover{
    background-color: rgb(12, 53, 67);
}
#btns2{

    text-align: center;
    margin: 10px;
    width: 23%;
    padding: 10px 20px;
    color: rgb(57, 169, 206);
    background-color: white;
    border: 1px solid rgb(57, 169, 206);

    border-radius: 5px;
}
#btns2:hover{
    background-color:rgb(221, 234, 239);
    border: 1px solid  rgb(12, 53, 67);
    color:  rgb(12, 53, 67);
}

#box2{
    /* padding: 30px; */
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 50px;
    height: 60%;
    width: 40%;
    /* background-color: rgb(22, 126, 216); */
    margin: 10px;
    overflow: hidden;
    border-radius: 5px;
}
#box2 img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#heading{
    width: 100%;
    height: 16%;
    /* background-color: aliceblue; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(7, 7, 54);

}
#heading h1{
    font-weight: 600;
}

#page2{
    height: 88%;
    width: 100%;
    background-color:darkgray;
}


#fackHeader{
    /* position: fixed; */
    width: 100%;
    height: 12%;
    /* background-color:  rgb(214, 10, 38); */

}
